
.links line {
    stroke:black;
    stroke-opacity: 0.6;
    stroke-width: 1.2;
  }
  
  .nodes circle {
    stroke: black;
    stroke-width: 1.5px;
  }
  .link { stroke:black; stroke-opacity: .6; stroke-width: 10px; }
  text {
    font-family: sans-serif;
    font-size: 15px;
  }
