

#upload{
    padding: 7.0rem;
    height: 30rem;
}   

.nav-item{
    text-emphasis-color: black;
}



#mainNav{
    background-color: cadetblue;
    position: sticky;
    color:black;
    

}

.contact-section {
    padding-top: 7rem;
}

